<!--

10-Dec-23 This makes it's own tab page. 
Setting up a grid format 
Flask bootstrap is v3.3.7.1
You have to specify the column width col-md-4

16-Mar-26 CBL, Modified a bit

-->
{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
<h1> GPS Data </h1>
    {{ moment.include_moment()}}
    <p> Local Computer time: {{moment(current_time).format('LLL')}}.</p>
    <meta http-equiv="refresh" content="5">
</div>
%
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> GPS Log File </h5>
    <p class="card-text"> {{logFileName}} </p>
  </div>
</div>
%
<div class="container" id="GPSText">
  <style> 
     table, th, td {
        border: 4px solid black
     }
  </style>
  <table sytle="width:100%">
  <tr> 
    <th width="25%"> Item </th>
    <th width="25%"> Value </th>
  </tr>
  <tr>
    <td width="25%"> Latitude: </td>
    <td style="text-align: center">  {{Latitude}}</td>
  </tr>
  <tr>  
    <td width="25%">  Longitude: </td>
    <td style="text-align: center">  {{Longitude}} </td>
  </tr>
  <tr> 
    <td width="25%"> Altitude(m):  </td>
    </div>
    <div class="col-md-2">
    <td style="text-align: center">  {{Altitude}} </td>
  </tr>
  <tr>
    <td width="25%"> Geoid Sep(m):  </td>
    <td style="text-align: center">  {{Geiod}} </td>
  </tr>
  <tr>
    <td width="25%"> Fix Time:  </td>
    <td style="text-align: center">  {{FixTime}} </td>
  </tr>
  <tr>
    <td width="25%"> Speed (m/s):  </td>
    <td style="text-align: center">  {{Speed}} </td>
  </tr>
  <tr>
    <td width="25%"> Course(True):  </td>
    <td style="text-align: center">  {{CompassTrue}} </td>
  </tr>
  <tr>
    <td width="25%"> Course(Mag):  </td>
    <td style="text-align: center">  {{CompassMagnetic}} </td>
  </tr>
  <tr>
    <td width="25%"> Frequency Offset:  </td>
    <td style="text-align: center">  {{FOffset}} </td>
  </tr>
  <tr>
    <td width="25%"> Fix Type:  </td>
    <td style="text-align: center">  {{FixType}} </td>
  </tr>
  </table>
</div> 
<hr>
<div class="container">
  <style> 
     table, th, td {
        border: none;
     }
  </style>
  <table style="width:100%">
    <tr>
      <td width="25%">
        <form method = "post" action="/gps">
          <input type="submit" value="Refresh" name="refresh"/>
        </form>
      </td>
      <td width="25%">
        <form method = "post" action="/filename">
          <input type="submit" value="Filename Change" name="filename"/>
        </form>
      </td>
      <td width="25%">
        <form method = "post" action="/marker">
          <input type="submit" value="Marker" name="marker"/>
        </form>
      </td>
    </tr>
  </table> 
</div>

<hr>
<div class="container" id="GPSImage">
<img src="/plotGPS" alt="IMAGE PLACEHOLDER" width="49%">
</div>

{% endblock %}
